@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
    color:#fff;
    background-color:#000;
    font-family:'Nanum Myeongjo', serif;
}

.red-text {
    color:#c73e34 !important;
}

nav {
    background-color:#616161;
}

footer.page-footer {
    background-color:#616161;
}

p.ban-list {
    margin-bottom:0;
    margin-top:3px;
}

.btn, .btn-large {
    color:#fff;
    background-color:rgba(0,0,0,0);
    border:1px #fff solid;
}

.btn:hover, .btn-large:hover {
    background-color:rgba(255,255,255,0.4);
}

#main {
    text-align:center;
}

#ban {
    margin:50px auto;
    width:400px;
    text-align:center;
}

@media(max-width:400px) {
    #ban { width:100%; }
}

#login {
    text-align:center;
    max-width:800px;
    margin:0 auto;
}

#login p {
    text-align:center;
}

#problem {
    text-align:center;
}

#problem img {
    max-width:100%;
}

#problem h3 {
    text-align:center;
}

#problem form {
    text-align:center;
    max-width:400px;
    margin:0 auto;
}

#problem form p {
    text-align:center;
}

#complete {
    text-align:center;
}

footer.page-footer {
    bottom:0;
    width:100%;
    font-size:80%;
    padding-top:5px;
}

footer.page-footer .row {
    margin-bottom:5px;
}

footer.page-footer .footer-copyright {
    height:40px;
    line-height:40px;
}
