<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Labyrinth</title>

    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/base.css">

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <style media="screen" type="text/css">{% block css %}{% endblock %}</style>
</head>
<body>
    <nav>
        <div class="nav-wrapper container">
            <a href="/" class="brand-logo">Labyrinth</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-main" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="#">사용자: {{user.first_name}}</a></li>
                <li><a href="/core/logout/">로그아웃</a></li>
                {% else %}
                <li><a href="/core/login/">로그인</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-menu"wa>
                {% if user.is_authenticated %}
                <li><a href="#">사용자: {{user.first_name}}</a></li>
                <li><a href="/core/logout/">로그아웃</a></li>
                {% else %}
                <li><a href="/core/login/">로그인</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div id="main-content" class="container">
        {% block content %}{% endblock %}
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text">KAIST 신나는 대학생활 미궁</h5>
                    <p class="grey-text text-lighten-4">이 미궁은 다음 사람들이 만들었습니다.</p>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://freshman.kaist.ac.kr/">기획 및 문제 출제: 새내기 프로그램 기획단</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://linkedin.com/in/sambradjo/">서비스 개발: Sam Jo</a></li>
                        <li><a class="grey-text text-lighten-3" href="http://sparcs.org/">서버 제공: SPARCS</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright 새내기 프로그램 기획단, Sam Jo
            <a class="grey-text text-lighten-4 right" href="https://github.com/a1sams1a/maze/">Open Source!</a>
            </div>
        </div>
    </footer>
    <script>
var footer = function() {
    if ($(window).height() < ($('#main-content').height() + 350))
        $('footer').css('position', 'relative');
    else
        $('footer').css('position', 'absolute');
};
$(document).ready(function() {
    $(".button-collapse").sideNav();
    footer();
});
$(window).resize(footer);
    </script>
</body>
</html>
